html {
    overflow-y: scroll;
}

body {
    background: linear-gradient(135deg, #FADADD, #FFF5E1);
}

.error {
    color: red;
    display: block;
    text-align: center;
}

header {
    padding: 10px 0;
    background-color: #f8e1e7;
    border-bottom: 2px solid #f8dcf2;
}

.left{
    margin-left: auto !important;
}

.title-love{
    font-size: 1.5em;
    text-align: center;
    color: #e91e63; 
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 10px;
}

.title-love1{
    font-size: 1.2em;
    text-align: center;
    color: #e91e63; 
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 10px;
}

.title-nolove{
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    background-color: #ffeef7;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.navbar {
    background-color: #ffe6e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    padding: 15px 0;
}

.navbar-nav {
    justify-content: center;
}

.navbar-nav .nav-item {
    margin: 0 30px;
}

.nav-link {
    color: #d32f2f;
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
}

.nav-link:hover, .nav-item.active .nav-link {
    color: #e91e63;
    transform: scale(1.1);
}

.navbar-toggler {
    border-color: #e91e63;
}

.navbar-toggler-icon {
    background-color: #d32f2f;
}
.search-bar {
    transition: width 0.4s ease-in-out;
    width: 100px;
    height: 36px;
    font-size: 14px;
}

/* .search-bar:focus {
    width: 100%;
} */

.user-icon {
    margin-right: 5px;
    transition: transform 0.3s ease;
    font-size: 25px;
}

.user-icon:hover {
    transform: scale(1.2);
}

.rotating-icon {
    animation: rotate 2s infinite linear;
    color: #ff5733;
    transition: all 0.3s ease;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.username {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.username:hover {
    color: #ff5733;
}

hr {
    margin: 0;
    border-top: 1px solid #ddd;
}

form input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-menu {
    width: 200px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
    color: black;
    text-decoration: none;
}

.menu-toggle {
    cursor: pointer;
    margin-right: 10px;
}

.username {
    font-size: 14px; /* Giảm kích thước font chữ tên người dùng */
    margin-right: 10px;
}

.red-icon {
    color: red !important;
}

.yellow-backgroud{
    background-color: rgb(105, 105, 102);
    color: white;
}

#profilePicPreview img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.profileName {
    text-align: center;
    margin-top: 10px; /* Adjust spacing as needed */
}

.profileName p {
    margin: 0;
    font-size: 16px; /* Adjust font size as needed */
}

.button-loc{
    color: white;
    background-color: #0975bd;
}
.button-loc:hover{
    background-color: #082c87;
}

.groud-ngang {
    display: flex;
    align-items: center;
}
.groud-ngang img {
    max-width: 25%;
    margin-right: 50px;
}
.groud-ngang p {
    margin: 0;
}

.ngang{
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 8px;
}

.ngang-left{
    display: flex;
    margin: auto;
    gap: 8px;
}
.space{
    margin: 10px;
}
/* Lightbox CSS */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.lightbox img {
    max-width: 90%;
    max-height: 80%;
}
.lightbox .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.btn{
    position: absolute;
    top: 10px;
    right: 10px;
}

.edit-btn,
.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #555;
    transition: color 0.3s;
}

.edit-btn:hover {
    color: #0975bd;
}

.delete-btn:hover {
    color: #f44336;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-container {
    position: relative;
    width: calc(25% - 10px);
    margin-bottom: 10px;
}

.preview-image {
    width: 100%;
    height: auto;
    display: block;
}

.close-button {
    position: absolute;
    top: 10px;
    left: 80px;
    background-color: rgba(255, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1;
}

.close-button:hover {
    background-color: rgba(255, 0, 0, 0.7);
}

#btn-pink{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: rgb(233, 92, 193);
    cursor: pointer;
    transition: background-color 0.25s;
}
#btn-pink:hover{
    background-color: rgb(240, 28, 180);
}

#btn-blue{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color:  rgb(31, 156, 234) !important;
    cursor: pointer;
    transition: background-color 0.25s;
    display: block;
    margin: 0 auto;
}
#btn-blue:hover{
    background-color: rgb(1, 134, 216) !important;
}

#date{
    margin-top: -5px;
}

#date, #start_date, #end_date, #months, #years{
    padding: 5px 20px;
    border-radius: 5px;
}

.custom-file-upload {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

#profilePic, #imgbir, #imglove {
    display: none; /* Ẩn input mặc định */
}

#fileLabel, #fileLabelBir, #fileLabelLove {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f2b573;
    color: white;
    cursor: pointer;
    transition: background-color 0.25s;
}

#fileLabel:hover{
    background-color: #ef9433;
}

#fileLabelBir:hover {
    background-color: #ef9433;
}

#fileLabelLove:hover {
    background-color: #ef9433;
}


.image-preview {
    margin-top: 10px;
    max-width: 300px;
    max-height: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    display: none;
}

.image-preview img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: contain;
}

.image-previews {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.img-container {
    position: relative;
    width: calc(25% - 10px);
    margin-bottom: 10px;
}

.img-container img {
    width: 100%;
    height: auto;
    display: block;
}

.highlight-text {
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffe6e6;
    padding: 10px;
    border-radius: 5px;
}

.toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e986a7; /* Màu sắc nổi bật */
    color: white;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 24px; /* Kích thước biểu tượng */
    transition: all 0.3s ease;
    margin: 20px auto; /* Căn giữa với margin */
}

.toggle-btn:hover {
    background-color: #f26599; /* Màu đậm hơn khi hover */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); /* Hiệu ứng nổi hơn */
    transform: scale(1.1); /* Hiệu ứng phóng to nhẹ khi hover */
}

.toggle-btn:focus {
    outline: none;
}

/* trái tim rơi */
@keyframes heartFall {
    0% { transform: translateY(-100px) scale(1); opacity: 1; }
    100% { transform: translateY(500px) scale(0.5); opacity: 0; }
  }
  
  .heart {
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 1.5rem;
    color: rgba(255, 100, 150, 0.8);
    animation: heartFall 4s infinite ease-in;
  }






